body {
	font-family:sans;
	color:#0f0;
	background-color:#000;
	}
div {

}
h1 {
	text-align:center;
	padding-top: 20px;
	font-size: 4em;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	}
nav ul li {
	font-family: 'Orbitron', sans-serif;
	display: inline-block;
	margin-right:1em;
	background-color:#0f0;
	border:#335588 2px solid;
	border-radius:.25em;
	padding:.25em;
	}
nav ul li:last-of-type {
	margin-right:inherit;
	}

nav ul {
	text-align: center;
	margin-left:0;
	padding:0;
	}
div.banner {
	width:100%;
	border:1px solid #ffffff;
	}
	
ul li {
		list-style: none;
	}
